body{
  margin: 0;
  padding: 0;
  
}

@font-face {
  font-family: "eEB";
  src: url(/fonts/EurostileExtendedBlack.ttf);
}


#maincontainer{
  display: flex;
  background-color: rgb(0, 0, 0);
  flex-flow: row wrap;
  text-align: center;
  position: relative;
}

.container{

  display: flex;
  flex: 1 100%;
}

#header{
  display: flex;
  position: sticky;
  top:0;
  background: rgba(12, 12, 12, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(12, 12, 12, 0.11);
  padding: 5px 10px;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  transition:  0.5s ease; 
}

#header.dark {
  background-color: #000; 
}
.hcontainer{
 display: block;
}

.hcontainer>a{
  width: fit-content;
 text-decoration: none;
 color: white;
 font-size: 20px;
 margin: 5px;
 font-family: "Bebas Neue", sans-serif;
 font-weight: bolder;
 z-index: 4;
}

#left{
  margin: 0;
  padding: 0px;
  height: 200x;
  z-index: 4;
}

#title {
  position: relative;
  display: flex;
  padding: 0px 150px;
  height: 100vh;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  background-color: black ;

}

#title video {
  position: absolute;
  top: -80vw;
  left: 0;
  width: 100vw;
  z-index: 1; 
  filter: opacity(50%);

}


#ttext{
  position: relative;
  padding: 0px;
  margin: 0px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5vw;
  color: #ffffff;
  text-shadow: 10px 8px 0px rgb(0, 0, 0);
  z-index: 1;
  
  
}

#home {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 10vw;
  width: 100%;
  margin: 0px;
  z-index: 3;
  align-items: center;
  background-color: #252525;
  background-image: url(/pic/titlebg2.jpg);
  background-size: cover;
  box-shadow: 10px 20x 1px black;


}


#hometext{
  padding: 10vw;
  width: 80%;
  background-color: #5e5c5c67;
  border-radius: 10px;

}

#htext {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(240, 236, 236);
  font-size: 3vw;
  font-weight: 900;
  text-shadow: 3px 5px 5px #252525;

}

#car{
  margin: 0px;
  padding: 10vw 0;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #121111;
 

}

#car>h1{
  color: white;
  position: absolute;
  font-size: 23vw;
  font-family: "Bebas Neue",sans-serif;
  bottom: 13vw;
  left: 13vw;
  letter-spacing: 40px;
  z-index: 1;
  transition: .1s linear;
}

#imagec{
  width: 90%;
  color: green;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  z-index: 2;
}

#tcar{
  width: 80%;
  font-family: "Roboto Condensed",sans-serif;
  position: absolute;
  color: white;
  font-size: 2vw;
  bottom: 10vw;
}

#engine{
  display: flex;
  background-color: white;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 2vw;
  padding-bottom: 10vw;
}
.econtainer{
display: flex;
text-align: center;
justify-content: center;
flex-flow: row wrap;

}

#imagee{
  position: relative;
}

#texte{
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;

}

#engine>h1{
  font-family: "Bebas Neue",sans-serif;
  margin-top: 3vw;
  margin-bottom:0;
}

#ep2{
  display: none;
}

#texte>p{
  font-family: "Roboto Condensed",sans-serif;
  width: 80vw;
}

#gallery{
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #121111;
  width: 100%;

}

.gcontainer{
  display: flex;
}
#galleryt{
  font-family: "Bebas Neue",sans-serif;
  color: white;
  font-size: 40px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height: auto;
  overflow: hidden;
}

.column {
  flex:20%;
  max-width: 25%;
  padding: 0 4px;
  height: 100%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height:auto;
}

.row2{
  display: none;
}
#timeline{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: white;
}
#ttitle{
  font-family: "Bebas Neue",sans-serif;
  font-size: 3vw;
}
.tcontainer{
  display: flex;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:20px 20px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:20px 20px;word-break:normal;}
.tg .tg-6qw1{background-color:#c0c0c0;text-align:center;vertical-align:top}
.tg .tg-y6fn{background-color:#c0c0c0;text-align:left;vertical-align:top}

@media screen and (max-width: 800px) {
   
  #title>video{
    top: -70vw;
    transition: 1.5s linear;
     }

     #ttext{
      font-size: 6vw;
      transition: 1s linear;
    }
    #home{
      justify-content: center;
      padding: 2px;
    }
    #hometext{
      width: 50vw;
    }
    #car>h1{
      font-size: 17vw;
      left: 15vw;
      bottom: 20vw;
      letter-spacing: 6vw;
      transition: .2s linear;
    }

  .column {
    flex: 48%;
    max-width: 48%;
  }

}

@media screen and (max-width: 600px) {
  #title>video{
   top: -40vw;
   transition: 1.5s linear;
  }
  #ttext{
    font-size: 6vh;
    top: 10vw;
    transition: 1s linear;
  }
  #home{
    justify-content: center;
    padding: 2px;
  }
  #hometext{
    width: 50vw;
  }
  #htext{
    font-size: 3vw;
  }

  #carbg{
    width: 1vw;
  }
  #car>h1{
    font-size: 17vw;
    left: 18vw;
    bottom: 20vw;
    letter-spacing: 5vw;
  }

  #ep1{
    display: none;
    transition: .5s linear;
  }
  #ep2{
    display: block;
     transition: .5s linear;
  }
  
  .row{
    display: none;
  }
  .row2{
    display: flex;
    overflow-x: scroll;
    height: auto;
}
  .column {
    flex: 100%;
    max-width: 100%;
  }

}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}